.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
}
.portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}
.portfolio span:nth-of-type(2) {
    color: var(--second-color);
    font-size: 2.5rem;
    font-weight: bold;
}
.portfolio .swiper {
    overflow: visible!important;
}
.portfolio-slider {
    margin-top: 3rem;
    width: 100%;
}
.portfolio-slider .swiper-slide {
    margin: 0 .5rem;
    width: 20rem;
    
}
.portfolio img {
    width: 19rem;
    border-radius: 19px;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    transform: scale(.8);
}
.portfolio img:hover {
    transform: scale(.9);
}

@media screen and (max-width: 480px) {
    .portfolio {
        margin-top: 5rem;
        margin-bottom: -5rem;
        height: 70vh;
    }
}