.card {
    width: 10rem;
    height: 13rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    border-radius: 20px;
    padding: 0 26px 2rem 26px;
}
.card:hover {
    transform: scale(1.1);
}
.card span:nth-of-type(2) {
    color: var(--gray);
    font-size: 16px;
}
.card>img {
    transform: scale(.6);
    margin-bottom: -2rem;
}
.c-button {
    background: var(--third-color);
    border-radius: 8px;
    width: 5.5rem;
    padding: .5rem;
    font-size: 12px;
    color: white;
    box-shadow: 0px 20px 24px 3px rgba(48, 205, 176, .45);
}

@media screen and (max-width: 480px) {
    .card {
        width: auto;
    }
}