.contact--form {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    gap: 6rem;
}
.c-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}
.c-right form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.c-right form span {
    color: var(--second-color);
    font-size: smaller;
}
.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    background: rgba(255, 255, 255, .26);
    box-shadow: var(--boxShadow);
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
textarea {
    height: 6rem!important;
}
.user::placeholder {
    color: var(--second-color);
    font-weight: bold;
    padding: .8rem;
}
.c-blur1 {
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 80vh;
    }
    .c-right .user{
        width: 18rem;
    }
}
